# Auto detect text files and perform LF normalization
* text=auto
TopicModeling/bertopic.ipynb filter=lfs diff=lfs merge=lfs -text
datasets/ filter=lfs diff=lfs merge=lfs -text
datasets/** filter=lfs diff=lfs merge=lfs -text
